 img.logo {
    width: 10%!important;
}
.nuovoProgetto {
    width: 50% !important;
}

.card-carousel {
    padding-top: 0px !important;
}

.card-anomalia {
    margin-bottom: 10px !important;
}

.form-switch {
    padding-left: 0rem !important;
}

#container-aggiungi {
    display: none;
}

#navbarNavAltMarkup{
    margin-right: 10% !important;;
}
.margin-top-10 {
    margin-top: 10px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

@media (max-width: 750px) {
    h1.logo {
        width: 75% !important;
    }

    img.logo {
        width: 100% !important;
    }
}